/** include color scheme **/
/** basics **/
/** color scheme **/
/** layout **/
html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  flex: 1;
}


a {
  font-weight: bold;
}
.container {
  position: relative;
}
.container .row .col-md-4 img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
/** carousel **/
.carousel-inner .item {
  padding: 0;
}
/** article carousel **/
#articleCarousel .item .article-container p {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, serif;
}
/** form elements **/
.btn-primary {
  color: #fff;
  width: 100%;
  margin: 10px 0;
}
figure img {
  margin: 0 auto;
  display: block;
}
/** footer **/
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer .container .text-muted {
  margin: 20px 0;
}
/** cheat for navigation **/
