/** include color scheme **/
/** color scheme **/
/** layout **/
.row {
  margin-left: 0;
  margin-right: 0;
}
.row .col-md-4 img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
figure img {
  margin: 0 auto;
  display: block;
}
/** footer **/
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .container .text-muted {
  margin: 20px 0;
}
/** cheat for navigation **/
